<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="UTF-8">
	<title>Our Baby</title>
	<link rel="stylesheet" href="../../css/materialize.min.css">
	<link rel="stylesheet" href="../../css/index.css">
</head>
<body>
<header>
	<nav>
	    <div class="nav-wrapper purple darken-3">
	      <a href="#!" class="brand-logo">Our Baby</a>
	      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
	      <ul class="right hide-on-med-and-down">
	        <li><a href="../../index.html"><i class="material-icons left">home</i> Inicio</a></li>
	        <li><a href="../about.html"><i class="material-icons left">group_work</i> Acerca</a></li>
	        <li><a href="../support.html"><i class="material-icons left">contact_mail</i> Contacto</a></li>
	      </ul>
	      <ul class="side-nav" id="mobile-demo">
	        <li><a href="../../index.html">Inicio</a></li>
	        <li><a href="../about.html">Acerca</a></li>
	        <li><a href="../support.html">Contacto</a></li>
	      </ul>
	    </div>
  	</nav>
</header>
  <div class="container">
  	
    <div class="row">
    <h1>Usuarios Suscriptos</h1>





      <table class="bordered striped highlight responsive-table">
        <thead>
          <tr>
              <th data-field="id">Name</th>
              <th data-field="name">Item Name</th>
              <th data-field="price">Item Price</th>
          </tr>
        </thead>

        <tbody class="centered">
          <tr>
            <td>Alvin</td>
            <td>Eclair</td>
            <td>$0.87</td>
          </tr>
          <tr>
            <td>Alan</td>
            <td>Jellybean</td>
            <td>$3.76</td>
          </tr>
          <tr>
            <td>Jonathan</td>
            <td>Lollipop</td>
            <td>$7.00</td>
          </tr>
          <tr>
            <td>Alvin</td>
            <td>Eclair</td>
            <td>$0.87</td>
          </tr>
          <tr>
            <td>Alan</td>
            <td>Jellybean</td>
            <td>$3.76</td>
          </tr>
          <tr>
            <td>Jonathan</td>
            <td>Lollipop</td>
            <td>$7.00</td>
          </tr>
        </tbody>
      </table>
            


    	
    </div>
    <div class="row">


    	


    </div>





 </div> <!--/container -->


	

	<script src="../../js/jquery-2.2.3.min.js"></script>
	<script src="../../js/materialize.min.js"></script>
	<script>
		//Initialze event collapse
		$(document).ready(function () {
			$(".button-collapse").sideNav();
		});
	</script>
</body>
</html>