<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Nosotros</title>
	<link rel="stylesheet" href="../css/materialize.min.css">
	<link rel="stylesheet" href="../css/index.css">
</head>
<body>
<header>
	<nav>
	    <div class="nav-wrapper purple darken-3">
	      <a href="#!" class="brand-logo">Our Baby</a>
	      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
	      <ul class="right hide-on-med-and-down">
	        <li><a href="../index.html"><i class="material-icons left">home</i> Inicio</a></li>
	        <li><a href="about.html"><i class="material-icons left">group_work</i> Acerca</a></li>
	        <li><a href="support.html"><i class="material-icons left">contact_mail</i> Contacto</a></li>
	      </ul>
	      <ul class="side-nav" id="mobile-demo">
	        <li><a href="../index.html">Inicio</a></li>
	        <li><a href="about.html">Acerca</a></li>
	        <li><a href="support.html">Contacto</a></li>
	      </ul>
	    </div>
  	</nav>
</header>



<div class="section">
	<div class="container">
		<div class="row">

		<div class="col s12 m3 l3">
			<div class="collection">
				<a href="#!" class="collection-item"> 
				Equipo</a>
				<a href="#!" class="collection-item"> 
				Para que?</a>
				<a href="#!" class="collection-item"> 
				Por que?</a>
				<a href="#masinfo" class="collection-item"> 
				Más Info</a>
			</div>
		</div>
		<div class="col s12 m6 l6 ">
		  <ul class="collapsible" data-collapsible="accordion">
		    <li>
		      <div class="collapsible-header"><i class="material-icons">filter_drama</i>Equipo</div>
		      <div class="collapsible-body"><p>Hola Bebé, el equipo de trabajo que hace de este sitio como es, son tus padres.</p></div>
		    </li>
		    <li>
		      <div class="collapsible-header active"><i class="material-icons">place</i>Para que?</div>
		      <div class="collapsible-body"><p>Se recopila información divertid para ti Hijo, con el animo que tu puedas mirar el paso del tiempo a tras tuyo, lo que hicimos por ti. Ansiosos esperando la llegada de ti Bebé.</p></div>
		    </li>
		    <li>
		      <div class="collapsible-header"><i class="material-icons">whatshot</i>Por Que?</div>
		      <div class="collapsible-body"><p>Tu querras saber que ha pasado aqui a fuera, mientras tu estabas en el vientre de la Mamá. Pues este sitio sera una memoria de cada uno de sos momentos que vivimos.</p></div>
		    </li>
		  </ul>
		</div>

		<div class="col s12 m3 l3">
		  <ul class="collapsible popout" data-collapsible="accordion">
		    <li>
		      <div class="collapsible-header"><i class="material-icons">filter_drama</i>Quién?</div>
		      <div class="collapsible-body"><p>Equipo de Trabajo.</p></div>
		    </li>
		    <li>
		      <div class="collapsible-header active"><i class="material-icons">place</i>Mision</div>
		      <div class="collapsible-body"><p>Crear tu escritorio a la mano.</p></div>
		    </li>
		    <li>
		      <div class="collapsible-header"><i class="material-icons">whatshot</i>Vision</div>
		      <div class="collapsible-body"><p>Facil y divertido.</p></div>
		    </li>
		  </ul>
		</div>
		</div>	    
	</div>
</div>

<section>
	<div class="col s12 m12 l2">
		<div class="parallax-container">
    <div class="parallax"><img src="../imgs/parents3.jpg"></div>
  </div>
  <div class="section white">
    <div class="row container">
      <h2 class="header">Our Baby</h2>
      <div id="masinfo">
      	<div class="card-panel center">
      	<h4>Mas Info... </h4>
      	</div>
     	 <p class="grey-text text-darken-3 lighten-3">Parallax is an effect where the background content or image in this case, is moved at a different speed than the foreground content while scrolling.</p>
     	 <p class="grey-text text-darken-3 lighten-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis officia hic labore, fuga eaque voluptas corrupti nihil ipsum nisi porro in exercitationem, dicta ad, magni, rem distinctio quos aliquid corporis.</p>
      </div>
      
    </div>
  </div>
  <div class="parallax-container">
    <div class="parallax"><img src="../imgs/parents3.jpg"></div>
  </div>
	</div>

</section>


	<script src="../js/jquery-2.2.3.min.js"></script>
	<script src="../js/materialize.min.js"></script>
	<script>
		$(document).ready(function () {
			$('.parallax').parallax();


		});

	</script>
	
</body>
</html>