<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Contacto</title>
	<link rel="stylesheet" href="../css/materialize.min.css">
	<link rel="stylesheet" href="../css/index.css">
</head>
<body>
<header>
	<nav>
	    <div class="nav-wrapper purple darken-3">
	      <a href="#!" class="brand-logo">Our Baby</a>
	      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
	      <ul class="right hide-on-med-and-down">
	        <li><a href="../index.html"><i class="material-icons left">home</i> Inicio</a></li>
	        <li><a href="about.html"><i class="material-icons left">group_work</i> Acerca</a></li>
	        <li><a href="support.html"><i class="material-icons left">contact_mail</i> Contacto</a></li>
	      </ul>
	      <ul class="side-nav" id="mobile-demo">
	        <li><a href="../index.html">Inicio</a></li>
	        <li><a href="about.html">Acerca</a></li>
	        <li><a href="support.html">Contacto</a></li>
	      </ul>
	    </div>
  	</nav>
</header>
<div class="container">
	<h1 class="center">Contactenos!</h1>  	
	    <form>
	      <div class="row">
		      <div class="col s12 m6 l6">
		
			<h3>Datos Personales</h3> 
		
		      	<div class="row">
		      		<div class="input-field col s12 m6 l6">
				          <i class="material-icons prefix">account_circle</i>
				          <input id="icon_prefix" type="text" class="validate">
				          <label for="icon_prefix">Primer Nombre</label>
				    </div>
				    <div class="input-field col s12 m6 l6">
				          <i class="material-icons prefix">phone</i>
				          <input id="icon_telephone" type="tel" class="validate">
				          <label for="icon_telephone">Telefono</label>
				    </div>
				</div>
				<div class="row">
			        <div class="input-field col s12">
			          <input id="email" type="email" class="validate">
			          <label for="email" data-error="correo invalido" data-success="bien">Email</label>
			        </div>
			    </div>
		      </div>

		       <div class="col s12 m6 l6">
			    		<h3>Comentarios</h3>
       			 <div class="row">
		          <div class="input-field col s6">
		            <input id="input_text" type="text" length="10">
		            <label for="input_text">Titulo</label>
		          </div>
		         </div>
		         <div class="row">
		          <div class="input-field col s12 m12 l12">
		            <textarea id="textarea1"  class="materialize-textarea" length="120"></textarea>
		            <label for="textarea1" >Descripción</label>

		           
		            
		          </div>
		         </div>
		       </div>
		    	<div class="row ">
		    		<div class="col s3 m3 left">
				    	<p>
					      <input type="checkbox" id="test6" checked="checked" />
					      <label for="test6">Recibir Noticias</label>
					    </p>
			    	</div>
			    	<div class="col s3 m3 right">
					  <a href="#!" class="btn waves-effect waves-purple">Enviar</a>
			    	</div>
		    	</div>
		   </div>
	      
	    </form>
	    
</div>







<script src="../js/jquery-2.2.3.min.js"></script>
	<script src="../js/materialize.min.js"></script>
	
</body>
</html>